h2 {
  color: blue;
}

h3 {
  color: cyan;
}

.myclass {
  color: brown;
}

#myid {
  color: aquamarine;
}

a[href="https://www.w3schools.com/"]
{
  color: red;
}

* {
  background-color: cornsilk;
  fon
}