.container1 {
  width: 100%;
}

.header1 {
  background-color: blueviolet;
  width: 100%;
  height: 50%;
  color: white;
}
.nav-bar1 {
  background-color: aqua;
  width: 100%;
  height: 50px;
  color: aquamarine;
}

.nav-bar1 ul {
  list-style-type: none;
  display: inline;
}
.nav-bar1 ul li {
  float: left;
  padding: 5px;
}

.content {
  width: 100%;
}

.left-content {
  background-color: pink;
  float: left;
  width: 20%;
  height: 200px;
  overflow: auto;
}
.side-menu ul {
  list-style-type: none;
  display: inline;
}
.side-menu ul li {
  padding-top: 5px;
  padding-left: 15px;
}

.middle-content {
  background-color: bisque;
  float: left;
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.middle-content section {
  overflow: auto;
}
.article1 {
  overflow: auto;
  word-wrap: break-word;
}
.right-content {
  background-color: chartreuse;
  width: 20%;
  float: left;
  height: 200px;
  overflow: auto;
}
.footer1 {
  background-color: aqua;
  width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer1 {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer1 {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer1 {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer1 {
    background: orange;
  }
}